<h3>User data</h3>
<div *ngIf="data" class="container">
    
    <table>
        <tr>
            <th>sr.no</th>
            <th>Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>

        <ng-container *ngFor="let item of data">
            <tr>
                <td>{{item.id}}</td>
                <td>
                    <igx-avatar src="{{item.avatar}}" [roundShape]="true" size="large"></igx-avatar>
                </td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.email}}</td>
            </tr>
        </ng-container>
    </table>
</div>


<div *ngIf="logindata.length != 0">
    <h3>Login Details</h3>
    <div class="container" style="margin-bottom:100px">
    <table>
        <tr>
            <th>sr.no</th>
            <th>Date</th>
            <th>Time</th>
        </tr>

        <ng-container *ngFor="let item of logindata; let i =index">
            <tr>
                <td style="width:250px;">{{i+1}}</td>
                <td style="width:250px;">{{item.date}}</td>
                <td style="width:250px;">{{item.time}}</td>
            </tr>
        </ng-container>
    </table>
    <div>
    </div>
</div>
