<div class="container">
    <mat-grid-list cols="2" rowHeight="12:19">

        <mat-grid-tile>
            <div>
                <img src="../../../assets/signin-image.jpg" style="display: block;" alt="">
                <a style="color: black; padding: 30px;" routerLink="/">Create an account</a>
            </div>
        
        </mat-grid-tile>
        
        <mat-grid-tile>
            
            
            <form [formGroup]="service.login" class="normal-form">
                <h3 class="md-display-1">Sign IN</h3>

                      <!-- <mat-grid-tile colspan="2" class="full-width-field"> -->
                        <div>
                            <input type="hidden" formControlName="$key">
                            <mat-form-field appearance="standard" style="padding-left:20px;">
                                <mat-label style="color: #195CDD;">Email</mat-label>
                                <input formControlName="email" matInput placeholder="pat@example.com">
                                <mat-icon matSuffix> email</mat-icon>
                                <mat-error *ngIf="service.register.controls['email'].errors?.['required']">This field is Mandatory</mat-error>
                                <mat-error *ngIf="service.register.controls['email'].errors?.['pattern']">only enter gmail or yahoo email</mat-error>
                              </mat-form-field>
                        </div> 

                        

                        <div>
                            <mat-form-field appearance="standard" style="padding-left: 20px;">
                                <mat-label style="color: #195CDD;">Enter your password</mat-label>
                                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="service.register.controls['password'].errors?.['required']">This field is Mandatory</mat-error>
                                <mat-error *ngIf="service.register.controls['password'].errors?.['pattern']">Enter Valied Patten</mat-error>
                            </mat-form-field>
                        </div>

                        <div style="padding-left: 20px;margin-top: 30px;">
                            <button mat-button mat-raised-button (click)="login()" [disabled]="service.login.invalid" color="primary">Log in</button>
                        </div>

            </form>
        </mat-grid-tile>
        
        

    </mat-grid-list>
</div>
